.a
		{
			background: #55595c;
			height: 100px;
			width: 150px;
			color: white;
			line-height: 100px;
			text-align: center;
		}
		.r
		{
			background:white;
			color: #55595c;
			height: 25px;
			width: 150px;
			font-size: 8px;


		}
		.s
		{
			font-size: 8px;
		}
		.p
		{
		    margin: 100px 100px;
		}
		.x
		{
				padding-left: 100px 100px;
				margin: -171px 160px;
		}
		.y
		{
			padding-left: 200px 100px;
			margin: -18px 320px;
		}
		.z
		{
		  padding-left: 190px 90px;
			margin: -12px 320px;	
		}
		.w
		{
				padding-left: 100px 100px;
				margin: -171px 160px;
		}
		.o
		{
			
		}